<!DOCTYPE html>
<html>
<head>
    <title>Search Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
    <a href="/">Home</a> |
    <a href="/view_books">View Books</a> |
    <a href="/view_members">View Members</a>|
    {% if session.get("role") == "admin" %}
        <a href="/add_book">Add Book</a> |
        <a href="/issue_book">Issue</a> |
        <a href="/return_book">Return</a> |
        <a href="/add_member">Add Member</a> |
        <a href="/register">Register User</a> |
    {% endif %}
    <a href="/issued_books">Issued Books</a>|
    <a href="/overdue">Overdue</a> |
    <a href="/search">Search</a>|
    {% if session.get("role") == "user" %}
    <a href="/member_dashboard">My Books</a>|
    {% endif %}
    {% if session.get("username") %}
        <a href="/logout">Logout</a>
    {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <hr>
    <div class="container">
    <h2>Search Book</h2>

    <form method="post">
        <input type="text" name="input_value" id="input_value" placeholder="Search" required>
        <button type="submit">Search</button>
        <button type="button" onclick="startScanner('input_value')">Scan Barcode</button>
    </form>

    {% if copy %}
        <h3>Book Found:</h3>
        {% for c in copy %}
        <p>ID: {{ c[0] }}</p>
        <p>Title: {{ c[1] }}</p>
        <p>Author: {{ c[2] }}</p>
        <p>Category: {{ c[3] }}</p>
        <p>Total Copies: {{ c[4] }}</p>
        <p>Available Copies: {{ c[5] }}</p>
        {% endfor %}
    {% endif %}
    </div>

</body>
</html>

<!-- Scanner container -->
<div id="scanner-container" style="display:none;">
    <div id="scanner"></div>
    <button onclick="stopScanner()">Close Scanner</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script>
    let activeInput = null;

function startScanner(inputId) {
    activeInput = inputId;
    document.getElementById("scanner-container").style.display = "block";

    Quagga.init({
        inputStream: {
            type: "LiveStream",
            target: document.querySelector('#scanner'),
            constraints: { facingMode: "environment" }
        },
        decoder: {
            readers: ["code_128_reader", "ean_reader", "ean_8_reader"]
        }
    }, function(err) {
        if (err) return console.log(err);
        Quagga.start();
    });

    Quagga.onDetected(function handler(result) {
        let code = result.codeResult.code;

        document.getElementById(activeInput).value = code;

        Quagga.offDetected(handler);
        stopScanner();
    });
}

function stopScanner() {
    Quagga.stop();
    document.getElementById("scanner-container").style.display = "none";
}
</script>