<!DOCTYPE html>
<html>
<head>
    <title>View Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
    <a href="/">Home</a> |
    <a href="/view_books">View Books</a> |
    <a href="/view_members">View Members</a>|
    {% if session.get("role") == "admin" %}
        <a href="/add_book">Add Book</a> |
        <a href="/issue_book">Issue</a> |
        <a href="/return_book">Return</a> |
        <a href="/add_member">Add Member</a> |
        <a href="/register">Register User</a> |
    {% endif %}
    <a href="/issued_books">Issued Books</a>|
    <a href="/overdue">Overdue</a> |
    <a href="/search">Search</a>|
    {% if session.get("role") == "user" %}
    <a href="/member_dashboard">My Books</a>|
    {% endif %}
    {% if session.get("username") %}
        <a href="/logout">Logout</a>
    {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
    <h2>All Members</h2>

    <table border="1">
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Section</th>
            <th>Roll Number</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
        {% if not rows %}
            <p style="margin-top:20px; color:#888;">No members found</p>
        {% endif %}
    </table>
    </div>

</body>
</html>